.message-2qnXI6 .markup-2BOw-j {
  color: var(--text-normal);
}

.input-cIJ7To {
  color: var(--text-normal);
  background-color: rgba(255, 255, 255, 0.07);
  border: none;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.09);
}

.search-1iTphC .searchBox-3Y2Vi7 .searchBoxInput-uJtBcv {
  color: var(--text-normal);
}

.searchPage-3GKAdT .search-1iTphC .searchBox-3Y2Vi7 .searchBoxInput-uJtBcv {
  color: var(--text-normal);
}

:root {
  --text-normal: rgb(50, 50, 50);
}

.lookFilled-1Gx00P.colorBrand-3pXr91 {
    background: rgba(8, 7, 7, 0.14);
}
